{%extends "layout.html"%}
{% block content %}

<div class="container-fluid bg-2 text-center">
  <form action="" method="POST">
    <input class="form-control form-control-lg" name="search" style="margin-top: 25px;" type="text"
      placeholder="https://www.youtube.com/watch?v=_a-gbqAzHOM&t=52s" aria-label="Search" type="url" required>

    <button class="btn btn-primary" style="margin-top: 25px;" type="submit" id="submit">
      <span class="spinner-border spinner-border-sm">Convert Video to MP4</span></button>


  </form>
  <!-- <div class="alert alert-warning alert-dismissible fade show">
      <button type="button" class="close" disabled data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
    </div> -->

</div>
</div>

{%endblock%}