{%extends "layout.html"%}
{% block content %}
<script>

  updateList = function () {
    var input = document.getElementById('file');
    var output = document.getElementById('fileList');
    
    var children = "";
    if (input.files.length == 0) {
      output.innerHTML = "No files selected";
    } else {
      for (var i = 0; i < input.files.length; ++i) {
        children += '<li>'+ input.files.item(i).name +'</li>';
      }
      output.innerHTML =children;
      var btn = document.getElementById("submit");
      btn.disabled = false;
    }
  }

</script>

<div class="container-fluid bg-2 text-center">
  <title>PDF password remover</title>
  <h2>Remove password from PDF</h1>
  <!-- <h4>It make some time to process if you upload more than 5 images</h4> -->

  <form action="" method=post enctype=multipart/form-data>
    <div class="upload-btn-wrapper">
      <button class="btn btn-secondary btn-lg">Upload a file</button>
      <input type="file" name="file" accept="document/pdf" id="file" required onchange="javascript:updateList()" />
    </div>
    <input class="form-control text-center" name="password" style="margin-top: 25px;" type="text"
      placeholder="Enter Password" required>
    <p>We are not storing your password anywhere !!</p>
    <div id="fileList"></div>
    <input class="btn btn-primary btn-lg"  type=submit id="submit" value="Remove Password">
  </form>
</div>


{%endblock%}